{% extends "base.html" %}

{% block content %}
  <h2>Змінити пароль</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Змінити пароль</button>
  </form>
{% endblock %}
