{% extends "base.html" %}

{% block content %}
  <h2>Редагувати профіль</h2>
  <h3>Зміна основних даних:</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" name="action" value="change_basic_info">Змінити основні дані</button>
  </form>

  <h3>Зміна фото:</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ photo_form.as_p }}
    <button type="submit" name="action" value="change_photo">Змінити фото</button>
  </form>

  <h3>Зміна опису профілю:</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ description_form.as_p }}
    <button type="submit" name="action" value="change_description">Змінити опис</button>
  </form>
{% endblock %}
