{% extends "base.html" %}

{% block content %}
<body>
    <h2>Вхід</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Увійти</button>
    </form>
</body>
{% endblock %}
