{% extends "base.html" %}

{% block content %}
  <h2>Список Класифікацій</h2>
  <ul>
    {% for classification in classification %}
      <li>
        <a href="{% url 'classification_detail' classification.id %}">{{ classification.classification }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
