{% extends "base.html" %}

{% block content %}
    <h2>Деталі харчування риб {{ diet.diet }}</h2>
    <ul>
        {% for fish in fishes %}
            <li><a href="{% url 'fish_detail' fish.id %}">{{ fish.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
