{% extends "base.html" %}

{% block content %}
  <h2>Вид Харчування</h2>
  <ul>
    {% for diet in diet %}
      <li>
        <a href="{% url 'diet_detail' diet.id %}">{{ diet.diet }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
