{% extends "base.html" %}

{% block content %}
  <h2>Сімейство Риб</h2>
  <ul>
    {% for family in family %}
      <li>
        <a href="{% url 'family_detail' family.id %}">{{ family.family }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
