{% extends "base.html" %}

{% block content %}
        <div style="text-align: center; margin-top: 20px;">
            <form action="{% url 'fish_search' %}" method="get">
                <input type="text" name="query" placeholder="Пошук за назвою">
                <button type="submit">Пошук</button>
            </form>
        </div>
  <h2>Список Риб</h2>
  <ul>
    {% for fish in fishes %}
      <li>
        <a href="{% url 'fish_detail' fish.id %}">{{ fish.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
