{% extends "base.html" %}

{% block content %}
  <img src="{{ fish.img.url }}" alt="{{ fish.name }}">
  <h2>Про рибу:</h2>
  <h1>{{ fish.name }}</h1>
  <h4>За місцем перебування: {{ fish.fish_classification }}</h4>
  <h4>Належить до : </h4>
  <h3>{{ fish.fish_family }}</h3>
  <h4>За типом харчування: {{ fish.fish_diet }}</h4>
  <h4>Опис: </h4>
    <h3>{{ fish.description }}</h3>
{% endblock %}
