{% extends "base.html" %}

{% block content %}
    <h2>Риботека</h2>
    <p>Тут ви знайдете інформацію про різні види риб та їх класифікацію.</p>
    <p>Для перегляду списку риб перейдіть за <a href="{% url 'fish_list' %}">посиланням</a>.</p>
    <p>Для перегляду риб за класифікацією перейдіть за <a href="{% url 'classification_list' %}">посиланням</a>.</p>
    <p>Для перегляду риб за сімейством перейдіть за <a href="{% url 'family_list' %}">посиланням</a>.</p>
    <p>Для перегляду риб за типом харчування перейдіть за <a href="{% url 'diet_list' %}">посиланням</a>.</p>
    <p>Повернутися на <a href="{% url 'home' %}">домашню сторінку</a>.</p>
{% endblock %}
