{% extends "base.html" %}

{% block content %}
    <h2>Ласкаво просимо!</h2>
    <p>Це домашня сторінка нашого сайту. Тут ви знайдете різноманітну інформацію яка може бути корисною для рибалок!</p>
    <p>Корисні посилання:</p>
    <ul>
        <li><a href="{% url 'fish_library' %}">Риботека</a></li>
        <li><a href="{% url 'add_mark' %}">Додати водойму</a></li>
        <li><a href="{% url 'show_marks' %}">Подивитись водойми</a></li>
        <li><a href="{% url 'profile' %}">Профіль</a></li>
    </ul>
{% endblock %}
