{% extends "base.html" %}

{% block content %}
    <h2>Профіль користувача</h2>
    <div class="user-profile">
        <img src="{{ user.profile_picture.url }}" alt="Фото профілю">
        <div class="user-info">
            <p><h2>Користувач: <strong>{{ user.username }}</strong></h2></p>
            {% if user.bio %}
                <p><strong>Біографія:</strong></p>
                <p><h4>{{ user.bio }}</h4></p>
            {% else %}
                <p><strong>Біографія:</strong></p>
                <p><h4>Інформація відсутня</h4></p>
            {% endif %}
        </div>
    </div>
    <p><a href="{% url 'change_password' %}">Змінити пароль.</a></p>
    <p><a href="{% url 'edit_profile' %}">Редагувати профіль.</a></p>
    <p><strong><a href="{% url 'home' %}">Повернутися на домашню сторінку</a></strong></p>
{% endblock %}
