{% extends 'base.html' %}

{% block title %}Результати пошуку{% endblock %}

{% block content %}
    <h1>Результати за пошуком:</h1>
    {% if search_results %}
        {% if search_results.fish_results %}
            <h2>Знайдено за назвою риб:</h2>
            <ul>
                {% for fish in search_results.fish_results %}
                    <a href="{% url 'fish_detail' fish.id %}">{{ fish.name }}</a>
                {% endfor %}
            </ul>
        {% endif %}

        {% if search_results.diet_results %}
            <h2>Знайдено за типом харчування:</h2>
            <ul>
                {% for diet in search_results.diet_results %}
                    <a href="{% url 'diet_detail' diet.id %}">{{ diet.diet }}</a>
                {% endfor %}
            </ul>
        {% endif %}

        {% if search_results.family_results %}
            <h2>Знайдено за сімейством:</h2>
            <ul>
                {% for family in search_results.family_results %}
                    <a href="{% url 'family_detail' family.id %}">{{ family.family }}</a>
                {% endfor %}
            </ul>
        {% endif %}

        {% if search_results.classification_results %}
            <h2>Знайдено за класифікацією:</h2>
            <ul>
                {% for classification in search_results.classification_results %}
                    <a href="{% url 'classification_detail' classification.id %}">{{ classification.classification }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>Результати пошуку відсутні.</p>
    {% endif %}
{% endblock %}
