{% extends "base.html" %}

{% block content %}
<div id='map' style='width: 100%; height: 700px;'></div>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />

{% if user.is_authenticated %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        mapboxgl.accessToken = '{{ access_token }}';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [30.5234, 50.4501],
            zoom: 12,
            locale: 'uk'
        });

        map.on('click', function(e) {
            var lng = e.lngLat.lng;
            var lat = e.lngLat.lat;

            // Відображення форми для збереження водойми
            var popup = new mapboxgl.Popup({ offset: 25 })
                .setLngLat([lng, lat])
                .setHTML(
                    '<form id="waterForm">' +
                        '<label for="water_name">Назва:</label>' +
                        '<input type="text" id="water_name" name="water_name"><br>' +
                        '<label for="water_type">Тип:</label>' +
                        '<input type="text" id="water_type" name="water_type"><br>' +
                        '<label for="fish">Обрати рибу:</label>' +
                        '<div class="checkboxes">' +
                            '{% for fish_name in fish_names %}' +
                                '<label><input type="checkbox" name="fish" value="{{ fish_name }}">{{ fish_name }}</label>' +
                            '{% endfor %}' +
                        '</div>' +
                        '<label for="water_description">Опис:</label>' +
                        '<textarea id="water_description" name="water_description"></textarea><br>' +
                        '<label for="price">Ціна:</label>' +
                        '<input type="text" id="price" name="price"><br>' +
                        '<input type="hidden" id="longitude" name="longitude" value="' + lng + '">' +
                        '<input type="hidden" id="latitude" name="latitude" value="' + lat + '">' +
                        '<button type="submit">Зберегти</button>' +
                    '</form>'
                )
                .addTo(map);

            // Відправка даних форми при події submit
            document.getElementById('waterForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var formData = new FormData(this);

                fetch('{% url "save_mark" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Водойму успішно збережено!');
                        popup.remove();
                        window.location.reload(); // Оновлення сторінки
                    } else {
                        alert('Помилка при збереженні водойми: ' + data.error);
                    }
                })
                .catch(error => {
                    alert('Помилка при відправленні запиту: ' + error.message);
                });
            });
        });
    });
</script>

{% endif %}
{% endblock %}
