<!-- maps/address_detail.html -->

{% extends "base.html" %}

{% block content %}
    <h2>{{ object.water_name }}</h2>
    <p><strong>Тип водойми:</strong> {{ object.water_type }}</p>
    <p><strong>Опис:</strong> {{ object.water_description }}</p>
    <p><strong>Ціна:</strong> {% if object.price %}{{ object.price }}{% else %}Безкоштовно{% endif %}</p>
    <h3>Риби на водоймі:</h3>
    <ul>
        {% for fish in object.fish.all %}
            <img src="{{ fish.img.url }}" alt="{{ fish.name }}" width="100" height="100">
            <li>{{ fish.name }}</li>

        {% endfor %}
    </ul>
    <hr>
    <h3>Коментарі:</h3>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'water_info' pk=object.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Додати коментар</button>
        </form>
    {% else %}
        <p>Увійдіть, щоб залишити коментар.</p>
    {% endif %}
    {% for comment in object.comment_set.all %}
        <p>{{ comment.author }} написав(ла) {{ comment.created_at|date:"F d, Y" }}</p>
        <p>{{ comment.text }}</p>
    {% empty %}
        <p>Поки немає коментарів.</p>
    {% endfor %}
{% endblock %}
