{% extends "base.html" %}

{% block content %}
<div id='map' style='width: 100%; height: 700px;'></div>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />

<script>
    document.addEventListener('DOMContentLoaded', function() {
    mapboxgl.accessToken = '{{ access_token }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [30.5234, 50.4501],
        zoom: 12,
        locale: 'uk'
    });

    {% for address in addresses %}
    var popupContent = '<h3>{{ address.water_name }}</h3><p>';
    {% if address.fish.all %}
    popupContent += '<strong>Риби на водоймі:</strong><br>';
    {% for fish in address.fish.all %}
    popupContent += '<img src="{{ fish.img.url }}" alt="{{ fish.name }}" width="50" height="50">';
    {% endfor %}
    {% endif %}
    popupContent += '</p>';
    popupContent += '<p><a href="{% url 'water_info' address.pk %}">{{ address.water_name }}</a></p>';

    // Перетворення координат у потрібний формат
    var lng = parseFloat('{{ address.long }}'.replace(',', '.'));
    var lat = parseFloat('{{ address.lat }}'.replace(',', '.'));

    // Встановлення маркера на карті
    new mapboxgl.Marker()
        .setLngLat([lng, lat])
        .setPopup(new mapboxgl.Popup().setHTML(popupContent))
        .addTo(map);
    {% endfor %}

    map.on('click', function(e) {
        var lng = e.lngLat.lng;
        var lat = e.lngLat.lat;

        // Відображення маркера на карті
        var markerElement = document.createElement('div');
        markerElement.className = 'marker';
        new mapboxgl.Marker(markerElement)
            .setLngLat([lng, lat])
            .addTo(map);
    });
});

</script>
{% endblock %}
