<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій сайт</title>
</head>
<body>
    <div class="container">
        <h1>Основні сторінки проекту</h1>
        <ul>
            <li><a href="{% url 'home' %}">Домашня сторінка</a></li>
            <li><a href="{% url 'profile' %}">Профіль</a></li>
            <li><a href="{% url 'fish_library' %}">Риботека</a></li>
            <li><a href="{% url 'show_marks' %}">Подивитись карту</a></li>
            <li><a href="{% url 'add_mark' %}">Додати місця</a></li>
            {% if user.is_authenticated %}
                <li>
                    <span>Вітаємо, {{ user.username }}!</span>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Вийти</button>
                    </form>
                </li>
            {% endif %}
        </ul>
        <hr>

        <form action="{% url 'global_search' %}" method="get">
            <input type="text" name="query" placeholder="Шукати на сайті">
            <button type="submit">Пошук</button>
        </form>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
